<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>

<div>
  <% content_for :title, "Passwords" %>

  <div>
    <h1 class="text-3xl font-bold underline">Passwords</h1>
  </div>

  <div>
    <% @passwords.each do |password| %>
      <%= password.characters %>
      <% if password.is_strong? %>
        <p>Strong</p>
      <% else %>
        <p>Weak</p>
      <% end %>

      <el-dropdown class="inline-block">
        <button class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
          Strength Criteria
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400">
            <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
        </button>

        <el-menu anchor="bottom end" popover class="m-0 w-75 origin-top-right rounded-md bg-white p-0 shadow-lg outline outline-1 outline-black/5 transition [--anchor-gap:theme(spacing.2)] [transition-behavior:allow-discrete] data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in">
          <div class="py-1">
          <% if password.is_minimum_length? %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">✅ Meets minimum length requirement</p>
            <% else %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">❌ Must be at least 8 characters</p>
            <% end %>
            
            <% if password.contains_number? %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">✅ Contains a number</p>
            <% else %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">❌ Does not contain a number</p>
            <% end %>

            <% if password.contains_lowercase? %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">✅ Contains lowercase letter</p>
            <% else %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">❌ Does not contain lowercase letter</p>
            <% end %>

            <% if password.contains_uppercase? %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">✅ Contains uppercase letter</p>
            <% else %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">❌ Does not contain uppercase letter</p>
            <% end %>

            <% if password.contains_special_character? %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">✅ Contains special character</p>
            <% else %>
              <p class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-none">❌ Does not contain special character</p>
            <% end %>
          </div>
        </el-menu>
      </el-dropdown>

      <p>
        <%= link_to "Edit this password", edit_password_path(password) %>
      </p>
    <% end %>
  </div>

  <div class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <%= link_to "New password", new_password_path %>
  </div>
</div>